* {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

#page {
  width: 100%;
  max-width: 1400px;
  padding: 80px 88px;
  margin: 0 auto;
}
h1 {
  font-size: 32px;
  font-family: "TikTok Sans", sans-serif;
  margin-top: 10px;
}

p {
  
  margin-top: 20px;
}

#headline {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}

img {
  border-radius: 21px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

ul li::marker {
  color: #333333;
}

li {
  margin-left: 20px;
}

#info, img {
  margin-bottom: 0px;
}

.subt {
  text-align: center;
  font-style: italic;
}

#Conheça {
  margin-top: -42px;
}

.Topics {
  color: red
}

#Texto {
  margin-top: 30px;
}

.legenda {
  font-size: 18px;
}

footer, a {
  text-align: center;
  padding-bottom: 40px;
  font-family: "TikTok Sans", sans-serif;
  font-weight: bold;
  color:#333333;
}

@media (max-width: 700px) {
  .menu {
    width: 100%;
  }
}
/* Faz adaptação para todas as telas */